:root {
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-title: 32px;
    --font-size-heading: 50px;
    --line-height-base: 1.6;
    --primary-color: #e7dbf5; /* Cor de fundo padrão */
    --secondary-color: #f2f2f2; /* Cor de fundo para blocos específicos */
    --highlight-color: rgb(98, 12, 191); /* Cor de destaque */
    --button-color: #4caf50; /* Cor do botão */
    --button-hover: #45a049; /* Cor ao passar o mouse */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Sombra */
}
/* Define estilo para o contêiner */
.container-video {
    display: flex; /* Centraliza o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Contêiner ocupa toda a largura */
    height: 100vh; /* Contêiner ocupa toda a altura da tela */
    background-color: #fafafa; /* Fundo preto para destacar o vídeo */
}

/* Estilo para o vídeo */
.container-video video {
    max-width: 100%; /* Impede que o vídeo ultrapasse a largura da tela */
    max-height: 100%; /* Impede que o vídeo ultrapasse a altura da tela */
    object-fit: cover; /* Ajusta o conteúdo para preencher o contêiner */
    border: 3px solid #9d64d5; /* Opcional: borda branca ao redor do vídeo */
}
